/* Khi bắt đầu code web: ép kiểu trang web */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.text-box {
  margin-bottom: 20px;
}

.container {
  text-align: center;
  margin-top: 50px;
  font-size: x-large;
}